{% extends 'main.html' %}

{% block content %}
    
<h1>Hello, {{request.user.username}}</h1>

<a href="{% url 'create-post' %}"><h3>Create post</h3></a>
<hr>

{% for post in posts %}
    <span><a href="{% url 'user-profile' post.user.username %}">@{{post.user.username}}</a></span>
    <h2><a href="{% url 'post' post.id %}">{{post.title}}</a></h2>
    {% if post.image %}
        <img src="{{post.image.url}}" alt="">
    {% endif %}
    {% if post.video %}
        <video src="{{post.video.url}}" loop autoplay></video>
    {% endif %}
    <p>{{post.description}}</p>
    <p>
        {% for tag in post.tags.all %}
            <span>#{{ tag.name }}</span>{% if not forloop.last %} {% endif %}
        {% endfor %}
    </p>
    <button data-vote-type="upvote" data-post-id="{{post.id}}" class="vote-btn">Upvote</button> {{ post.upvotes }}
    <button data-vote-type="downvote" data-post-id="{{post.id}}" class="vote-btn">Downvote</button> {{ post.downvotes }}
    
    {% if request.user == post.user %}
        <a class="button" href="{% url 'update-post' post.id %}">Edit</a>
        <a class="button" href="{% url 'delete-post' post.id %}">Delete</a>
    {% endif %}
    <hr>
{% endfor %}

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const voteButtons = document.querySelectorAll('.vote-btn');
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        voteButtons.forEach(button => {
            button.addEventListener('click', () => {
                const postId = button.getAttribute('data-post-id');
                const voteType = button.getAttribute('data-vote-type');

                fetch(`/vote/${postId}/${voteType}/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken
                    }
                })
                .then(response => response.json())
                .then(data => {
                    const upvoteButton = document.querySelector(`button[data-post-id="${postId}"][data-vote-type="upvote"]`);
                    const downvoteButton = document.querySelector(`button[data-post-id="${postId}"][data-vote-type="downvote"]`);
                    upvoteButton.innerText = `Upvote (${data.upvotes})`;
                    downvoteButton.innerText = `Downvote (${data.downvotes})`;
                });
            });
        });
    });
</script>

{% endblock content %}