{% extends 'main.html' %}

{% block content %}

<style>
    .home {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    @media (max-width: 1200px) {
        .home {
            grid-template-columns: 1fr 2fr;
        }
        .home-right-bar {
            display: none;
        }
    }

    @media (max-width: 768px) {
        .home {
            grid-template-columns: 1fr;
        }
        .home-left-bar, .home-right-bar {
            display: none;
        }
    }
</style>

<div class="home">
    <div class="home-left-bar">
        {% include 'ogambo/components/sidebar.html' %}
    </div>
    
    <div class="home-feed">
        {% include 'ogambo/components/feed.html' %}
    </div>
    
    <div class="home-right-bar">
        <form action="{% url 'home' %}" method="GET">
            <input type="text" name="q" placeholder="Search..." /.>
        </form>
    </div>
</div>

{% endblock content %}