{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ogambo{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'assets/main.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    {% include 'messages.html' %}
    
    <form method="post" id="vote-form">
        {% csrf_token %}
    </form>
    
    {% block content %}{% endblock %}
</body>
</html>